@model  Heat.ViewModels.OutboundCalls.ProposedOutboundCallsViewModel 

@{
    ViewBag.Title = "GetNextProposed";
}

<h2>GetNextProposed</h2>

<p>
    @Html.ActionLink("Create New", "GetNextProposed")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Calls.FirstOrDefault().PlantRegionalID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calls.FirstOrDefault().ContactName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calls.FirstOrDefault().Address )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calls.FirstOrDefault().City )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calls.FirstOrDefault().MainPhoneNumber )
        </th>
        
         
    </tr>

@foreach (var item in Model.Calls) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlantRegionalID )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MainPhoneNumber )
        </td>
         
    </tr>
}

</table>


@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.ProposedGenerationID )
    <div>
        <input type="submit" value="Accetta" class="btn btn-default" />
    </div>    
}
